main {
    margin-top: 100px;
    padding: 0 10px;
    display: flex;
}

main > div {
    flex: 1;
}

.Carros-preco text {
    color: green;
}

.container-listagem > ul > li {
    list-style: none;
    flex: 3;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    font-family: "Manrope", sans-serif;
}

.container-listagem {
    flex: 2;
    box-shadow: 0 0 10px 2px #f0f0f0;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

img {
    display: flex;
    padding: 0px;
    height: auto;
    max-width: 300px;
    margin-top: 0px;
    object-fit: cover;
    padding-bottom: 10px;
    border-radius: 10px;
}

.container-Carros {
    max-width: 200px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #53535352;
    color: black;
}

.container-Carros text {
    line-height: 1.5;
    font-weight: 600;
    padding-left: 5px;
}

.mensagem-erro {
    position: fixed;
    border: 1px solid coral;
    width: fit-content;
    padding: 0 15px;
    right: 15px;
    background-color: #dc3545;
    color: white;
}
